body {
   font-family: 'Space Grotesk', sans-serif;
   background-image: url('./img/space.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
}

h1 {
   text-align: center;
   margin-top: 25px;
}

div {
   text-align: left;
}

ol {
   list-style: none;
}

#faultyItems {
   visibility: hidden;   
}

#launchForm {
   background-color: #2f4d6e;
   text-align: center;
   margin: auto;
   width: 40vw;
   height: 35vh;
   border: 3px solid black;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#launchStatusCheck {
   background-color: #2f4d6e;
   text-align: center;
   margin: auto;
   width: 40vw;
   height: 35vh;
   border: 3px solid black;
   padding: 10px;
}

#missionTarget img {
   max-width: 40vw;
   max-height: 40vh;
   box-shadow: 0 0 10px white;
}

#missionTarget {
   background-color: #2f4d6e;
   text-align: center;
   margin: 50px auto;
   width: 45vw;
   height: 70vh;
   border: 3px solid black;
   padding: 10px;
}

button {
   background-color: #419f6a;
   border: none;
   color: white;
   border-radius: 8px;
   width: 25%;
   height: 30px;
   margin: 10px 0;
}

form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

input {
   margin-left: 25px;
   display: inline-block;
}

.formField {
   padding: 7px;
}

.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}

.rightSide {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 50vw;
   height: 73vh;
   gap: 40px;
}